@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.menu {
    background: linear-gradient(to right, rgb(245, 110, 225) , rgb(245, 245, 24));
    margin: 0;
    padding-top: 3px;
    padding-bottom: 50px;
    text-align: right;
    font-family: Roboto, Arial, sans-serif;
    font-size: 20px;
    max-width: 1250px;
    
}

.link {
    padding-right: 25px;
    padding-left: 10px;
    color: rgb(39, 10, 10);
    text-decoration: none;
}

.link:visited {
    color: rgb(129, 129, 130);
}

.link:hover {
    color: rgb(218, 15, 15);
    text-shadow: 0 2px 5px rgba(121, 20, 20, 0.5);
}

.title {
    margin: 5%;
    margin-left: 380px;
    text-align: left;
    font-family: bold, Roboto, sans-serif;
    color: rgb(70, 10, 89);
    font-size: 36;
    
}
.underTitle {
    margin-left: 380px;
    text-align: left;
    font-family: bold, Arial, Helvetica, sans-serif, serif;
    color: rgb(70, 10, 89);
}

img {
    border-radius: 50%;
    float: left;
    margin-top: -150px;
    margin-left: 150px;
}


body {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

section {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    
}
h3 {
    background-color: rgb(245, 110, 225);
    
}


.githubIcon {
    display: block; 
    text-align: center;
    font-family: bold, Roboto, sans-serif;
    text-decoration: none;
}

.logoRsschool {
    display: block; 
    text-align: center;
    font-family: bold, Roboto, sans-serif;
    text-decoration: none;
    
    
}
.footer {
    padding: 0px;
    text-align: center;
    font-family: bold, Roboto, sans-serif;
}