
.menu {
    background: linear-gradient(to right, rgb(245, 110, 225) , rgb(135, 135, 134));
    margin: 0;
    padding-top: 3px;
    padding-bottom: 50px;
    text-align: right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.link {
    padding-right: 25px;
    padding-left: 10px;
}

.title {
    margin: 5%;
    padding-left: 25%;
    text-align: left;
    color: rgb(70, 10, 89);
}

img {
    border-radius: 70%;
    float: left;
    margin-top: -150px;
    margin-left: 150px;
}
